:root {
  --gray-100: #F2F2F2;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --blue-100: #4EA8DE;
  --blue-300: #1E6F9F;

  --purple-100: #8284FA;
  --purple-300: #5E60CE;

  --red: #E25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  color: var(--gray-100);
}